.site-header {
	background: rgb(22, 22, 22);
	position: fixed;
	visibility: hidden;
	top: -52px;
    z-index: 99;
    min-width: -webkit-fill-available;
	min-height: 52px;
	transition: ease-in-out .3s;
	&.active {
		top: 0;
		visibility: visible;
	}
	.site-branding {
		.header-color {
			color: #ff4444;
			position: relative;
			left: -8px;
		}
		@media (max-width: 550px) {
			.header-color {
				font-size: 15px;
				top: 16.5px;
				left: -116px;
				margin-left: 0px;
			}
		}
	}
	img {
		margin-left: 20px;
		padding-top: 12px;
		@media (max-width: 410px) {
			max-width: 100px;
		}
	}
	a {
		padding-top: 12px;
		display: block;
		font-size: 20px;
		font-weight: 500;
		font-family: 'Raleway', sans-serif;
		letter-spacing: 5px;
		text-transform: uppercase;
		text-decoration: none;
		color: white;
		line-height: 30px;
		@media (max-width: 550px) {
			font-size: 15px;
			top: -5px;
			position: relative;
			font-weight: 700;
			padding-top: 9px;
		}
		&:visited {
			color: white;
		}
	}
}
