.about-block {
	.heading-container h2:after {
		background-color: #121212;
	}
	.about-content {
		display: flex;
		flex-wrap: wrap;
		min-height: 456px;
		gap: 40px;
		position: relative;
		@media (max-width: 768px) {
			height: auto !important;
		}
		h3 {
			font-weight: 400;
		}
		.col {
			width: calc(50% - 20px);
			display: flex;
			align-items: center;
			justify-content: center;
			top: 50%;
			transform: translateY(-50%);
			left: 0px;
			position: absolute;
			box-shadow: -15px 15px 0 #121212;
			margin-left: 15px;
			@media (max-width: 768px) {
				width: 100%;
				position: static;
				transform: none;
				border: none;
			}
			&.text {
				padding: 40px;
				background: #121212;
				right: 0px;
				left: unset;
				box-shadow: none;
				transition: ease-in-out .3s;
				transition-property: padding;
				margin-left: 0;
				@include media-breakpoint(max-767) {
					padding: 20px;
				}
			}
		}
		img {
			width: 100%;
			height: auto;
			min-height: 500px;
			object-fit: cover;
			@include media-breakpoint(max-767) {
				min-height: 300px;
			}
		}
	}
	.about-spacer {
		background: #ad0000;
		height: 250px;
		width: 100%;
		@include media-breakpoint(max-767) {
			height: 126px;
		}
	}
}
