.site-footer {
	background: rgb(22, 22, 22);
	font-size: 14.5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	position: relative;
	a {
		font-family: 'Raleway', sans-serif;
		font-size: 14.5px;
		color: white;
		text-decoration: underline;
		&:visited {
			color: white;
		}
		&:hover {
			color: #aa0000;
		}
		@media (max-width: 730px) {
			font-size: 13px;
		}
	}
	.flex {
		display: flex;
		gap: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
		.col {
			font-weight: 500;
		}
		@media (max-width: 730px) {
			justify-content: left;
			padding-left: 20px;
			font-size: 13px;
		}
		@media (max-width: 500px) {
			flex-wrap: wrap;
			.col {
				flex: 1 1 100%;
			}
		}
	}
	.back-to-top {
		position: absolute;
		right: 20px;
		span {
			width: fit-content;
			text-decoration: none;
			font-size: 14.5px;
			font-weight: 500;
			font-family: 'Raleway', sans-serif;
			cursor: pointer;
			&:before {
				font-family: 'Dashicons';
				position: relative;
				top: 3px;
				margin-right: 6px;
			}
			&:hover {
				color: #aa0000;
			}
			@media (max-width: 730px) {
				font-size: 13px;
			}
		}
	}
}
