// Admin side styles
.panel-label {
	line-height: 40px;
	font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: calc(8px);
    padding: 0px;
	&.description {
		font-weight: 400;
		text-transform: capitalize;
		font-size: 12px;
	}
}

.editor-post-title {
	font-weight: 200;
	text-align: center;
}

.image-controls {
	position: relative;
	min-height: max-content;
	background: #6B6B6B;
	.aleister-strange-mediaupload {
		position: absolute;
		background: #fff;
		border: 1px solid #000;
		border-radius: 5px;
		left: 21%;
		top: 0;
		bottom: 0;
		margin: auto;
		&.replace {
			display: none;
		}
		&:hover {
			cursor: pointer;
			background: #aa0000;
			color: white;
		}
	}
	&:hover {
		.aleister-strange-mediaupload {
			display: block;
		}
	}
}

.item-container {
	position: relative;
	/* Custom Controls */
	.item-action-wrap {
		position: absolute;
		z-index: 99;
		bottom: 30px;
		left: 5px;
		i {
			background: white;
			border: 1px solid black;
			border-bottom: none;
			color: black;
			padding: 4px;
			&.dashicons {
				font-size: 20px;
			}
			&.remove-item {
				border: 1px solid black;
			}
			&:hover {
				cursor: pointer;
				background: #aa0000;
				border-color: #aa0000;
			}
		}
	}
	.move-item {
		display: flex;
		flex-direction: column-reverse;
	}
	.item-link-wrap, .item-icon-wrap {
		position: absolute;
	}
	.item-icon-wrap {
		display: none;
		.components-select-control {
			border: 1px solid black;
			min-width: 150px;
			position: relative;
			top: -23px;
			left: 39px;
			z-index: 100;
			.components-select-control__input {
				background: #fff;
    			color: black;
				border-radius: 0;
			}
			.components-input-control__backdrop {
				border: none;
				border-radius: 0;
			}
		}
	}
	.item-link-wrap {
		display: none;
		.components-base-control__field {
			border: 1px solid black;
			min-width: 150px;
			position: relative;
			top: -23px;
			left: -150px;
			z-index: 100;
			.components-text-control__input {
				border: none;
				margin: 0;
			}
		}
	}
	.item-icon-wrap, .item-link-wrap {
		&.active {
			display: block;
		}
	}
}

.hero-block .social-links {
	left: 39px;
	@media (max-width: 1024px) {
		left: 0;
	}
}

.hero-block {
	h1 {
		pointer-events: all;
		animation: none;
	}
	.social-links {
		animation: none;
		.dashicons {
			&.social-icon {
				&:hover {
					margin-top: 0px;
				}
				&.active {
					color: #aa0000;
				}
			}
		}
	}
}

.add-item {
	display: block;
	text-align: center;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,.4);
	padding: 5px;
	position: relative;
    top: 5px;
	left: 11px;
	color: black;
	&.dashicons {
		font-size: 20px !important;
	}
	&:hover {
		cursor: pointer;
		background: #aa0000;
	}
	@media (max-width: 1024px) {
		display: none;
	}
}

.hero-block, .music-block {
	.edit-toggle {
		display: none;
		position: absolute;
		background: #fff;
		border-radius: 10px;
		padding: 10px;
		z-index: 99;
		top: 20px;
		right: 20px;
		#inspector-toggle-control-0__help {
			text-align: center;
		}
	}
	&:hover {
		.edit-toggle {
			display: block;
		}
	}
}

.music__slider {
	iframe {
		pointer-events: none;
	}
	.components-base-control__field {
		margin: 0 10px;
		.components-text-control__input, input {
			border-radius: 5px;
			margin-bottom: 10px;
		}
	}
	.col.no-data {
		color: white;
		h3 {
			margin: 0;
		}
		text-align: center;
		background: rgba(255, 255, 255, 0.5);
		min-height: 353px;
		border-radius: 0.75rem;
		margin: 0 10px;
	}
	.add-item-wrap {
		.add-new-item {
			color: white;
			min-width: -webkit-fill-available;
			background: black;
			min-height: 352px;
			line-height: 352px;
			margin-top: 39px;
			font-size: 30px;
			cursor: pointer;
			border-radius: 0.75rem;
		}
	}
	.music-slider__item {
		position: relative;
		.remove-item {
			position: absolute;
			background: #aa0000;
			color: white;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100%;
			height: 30px;
			width: 30px;
			line-height: 30px;
			cursor: pointer;
			opacity: 0;
			&:hover {
				background: white;
				color: black;
			}
		}
		&:hover {
			.remove-item {
				opacity: 1;
			}
		}
	}
}

.about-block {
	.image-controls {
		background: none;
		display: flex;
		.aleister-strange-mediaupload {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
	}
}

.music-slider-block {
	padding-bottom: 0;
	.slider-sort {
		margin-top: 50px;
	}
}
