.video-block {
	padding-bottom: 250px;
	@include media-breakpoint(max-767) {
		padding-bottom: 126px;
	}
	.video-wrap {
		box-shadow: -15px -15px 0 white;
		margin-left: 15px;
		margin-top: 15px;
		iframe {
			width: 100%;
			@include media-breakpoint(max-767) {
				max-height: 360px;
			}
		}
	}
	.youtube-video {
		display: flex;
	}
}
